:host {
  height: 100%;
  display: block;
}

.header-menu {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: end;
}

.parte-cima {
  background: var(--cor-branco-padrao);
  border-radius: 20px 0 0 0;
  border-bottom: 1px solid rgba(143, 203, 191, 1);
  height: 25%;
  width: 100%;

}

.titulo-topico {
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 80%;
  margin-left: 20px;
  color: var(--cor-verde-txt);
}

.close {
  font-size: 30px;
  justify-self: end;
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.progresso {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 25px;
  padding-bottom: 0;
  gap: 5px;
  color: var(--cor-verde-escuro-forte);
  font-size: 0.875rem;
}

.p-progresso {
  color: var(--cor-verde-txt);
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 400;
}

input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid white;
  margin: 15px;
}

.barra-progresso {
  width: 80%;
  margin: 0 auto;
  padding: 4px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.texto-progresso {
  padding: 4px 0;
}

.container-topico {
  height: 100%;
  overflow-y: scroll;
}

.container-topicos {
  height: 50%;
  background-color: var(--cor-branco-suave);
}

.container-topico::-webkit-scrollbar-track {
  background-color: #171719;
}

.container-topico::-webkit-scrollbar {
  width: 8px;
  background: #6a6a6a;
}

.container-topico::-webkit-scrollbar-thumb {
  background: #6a6a6a;
  border-radius: 35px;
}

.topico-container {
  border-radius: 8px;
  width: 95%;
  max-width: 300px;
  height: 70px;
  color: var(--cor-verde-txt);
  margin: 15px auto;
  padding: 16px 10px;
  font-family: var(--fonte-arial-padrao);
  font-weight: 400;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  outline: none;
  background-color: var(--cor-branco-padrao);
  box-shadow: var(--sombra-fraca);
  /*   box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.25); */
  cursor: auto;
}

.hover:hover {
  background: linear-gradient(0deg, #2F735E, #2F735E), linear-gradient(90deg, #2F735E 0%, #196D53 100%);
  color: var(--cor-branco-padrao);
  cursor: pointer;

  .caixa {
    border-color: var(--cor-branco-padrao);
  }
}

.active-topico-container {
  background-color: var(--cor-branco-padrao);
  color: var(--cor-verde-txt);
  box-shadow: var(--sombra-fraca);
  /*   box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.25); */
  font-weight: bold;
}

.caixa {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid var(--cor-verde-escuro-forte);
  position: relative;

}


.caixa mat-icon {
  font-size: 22px;
  color: #58db43;
  position: absolute;
  top: -35%;
}

.topico-container p {
  outline: none;
  width: 93%;
  padding: 20px 5px;
  font-size: 15px;
}

.btn-forum {
  background-color: #262626;
  color: #9665df;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  font-family: "Arial" 16px;
}

.container-topico a,
.moodle a {
  text-decoration: none;
  color: white;
}

.container-topico a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.outros-links {
  padding: 15px 0;
  width: 97.7%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  background-color: var(--cor-branco-suave);
  height: 25%;
}

.outros-links h3 {
  padding-top: 5px;
  width: 90%;
  margin: 0 auto;
}

.moodle {
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 5px;
  background: var(--cor-branco-padrao);
  box-shadow: var(--sombra-fraca);
  /*   box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.25); */
  padding: 0 20px;
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 15px;
}

.moodle a {
  color: var(--cor-verde-txt);
  margin-left: 5px;
  outline: none;
  font-family: var(--fonte-arial-padrao);
  font-weight: 700;
}

.disabled-link {
  opacity: 0.6;
}

.mat-mdc-progress-bar.mat-warn {
  --mdc-linear-progress-track-color: white;
  box-shadow: var(--sombra-fraca);
}