.container-foto-header-active {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 17.31rem;
  gap: 0.63rem;
  padding: 0.88rem 0.06rem;
  padding-bottom: 1.25rem;
  position: fixed;
  top: 2%;
  right: 8%;
  z-index: 2;
  border: 3px solid;
  border-image-source: linear-gradient(180deg, #1A6D53 0%, #39A935 100%);
  border-image-slice: 1;
  border-radius: 8px;
  background-color: var(--cor-branco-padrao);
  cursor: pointer;
}

.nome p {
  max-width: 100%;
  margin-top: 0.94rem;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(3, 66, 47, 1);
}

.cima {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.63rem;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
  font-weight: bold;
  color: rgba(3, 66, 47, 1);
}

.cima-p {
  margin-left: 0.94rem;
}

.meio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  margin: 0.63rem 0.94rem;
  padding: 0.94rem 1.88rem;
  gap: 0.94rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: var(--sombra-forte);
  color: rgba(3, 66, 47, 1);
}

.mat-mdc-progress-spinner {
  background-color: var(--cor-branco-padrao);
  box-shadow: var(--sombra-fraca);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #58db43;
}

.spinner {
  position: relative;
}

.progress-spinner {
  position: absolute;
  top: 27%;
  margin-left: 39%;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
}

.foto-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 auto;
  border: 3px solid var(--Primaria, rgba(57, 169, 53, 1));
  border-radius: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  background-color: white;
}
