.container-foto-header-active {
  display: inline-flex;
  padding: 14px 1px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 3px solid;
  border-image-source: linear-gradient(180deg, #1A6D53 0%, #39A935 100%);
  border-image-slice: 1;

  background-color: var(--cor-branco-padrao);
  position: fixed;
  right: 8%;
  top: 2%;
  width: 277px;
  padding-bottom: 20px;
  z-index: 2;
  cursor: pointer;

}

.nome p {
  color: rgba(3, 66, 47, 1);
  margin-top: 15px;
  font-size: 1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--fonte-arial-destaque);
  font-weight: 400;
}

.cima {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: rgba(3, 66, 47, 1);
  font-family: var(--fonte-arial-destaque);
  font-weight: bold;
  font-size: 1rem;
}

.cima-p {
  margin-left: 15px;
}

.meio {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgba(3, 66, 47, 1);
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  box-shadow: var(--sombra-forte);
  margin: 10px 15px;
}

.mat-mdc-progress-spinner {
  background-color: var(--cor-branco-padrao);
  box-shadow: var(--sombra-fraca);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #58db43;
}

.spinner {
  position: relative;
}

.progress-spinner {
  position: absolute;
  top: 27%;
  /*   right: 20%; */
  font-size: 16px;
  margin-left: 39%;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
}

.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: black;
  background-color: white;
  border-radius: 28px;
  border: 3px solid var(--Primaria, rgba(57, 169, 53, 1));
  margin: 0 auto;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}