.button-um {
    background: rgb(255, 255, 255);
    border: 2px solid #2F735E;
    border-radius: 10px;
    color: #2F735E !important;
}

.button-dois {
    background-color: #2F735E;
    color: white !important;
}
