@font-face {
  font-family: minhaFonte;
  src: url('../../../assets/fonteProjeto.ttf');
}

mat-sidenav {
  height: 90%;
  border-radius: 20px 0;
  background-color: #131313;
}

a svg {
  position: relative;
  right: 4%;
}

.sidebar {
  border-radius: 10px;
  background-color: black;
  color: #FAF8E6;
}

.titulo-topico {
  padding: 1rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 20px 0px 0px 0px;
  background-color: #9665DF;
  color: #E0D1F5;
}

.teste {
  position: relative;
  left: 12.5rem;
}

#button {
  color: #FFF;
}

#icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #FFF;
}

.text p {
  font-family: minhaFonte;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.text-unidade {
  color: #DFBF0B;
}

.img {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  justify-content: space-between;
  height: 4.06rem;
  background-color: black;
}

.img img {
  max-height: 5rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}

.menu-teste {
  width: 6.25rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.user {
  display: inline-block;
  padding: 0.31rem;
  border: 1px solid #9665DF;
  border-radius: 50%;
  font-weight: bold;
  background-color: #E0D1F5;
  color: black;
}

@media (max-width: 425px) {
  .text {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  mat-sidenav {
    width: 100%;
  }
}
