<header class="header">
    <img src="assets/uea_01.svg" alt="Logo tecnocomp">
</header>
<main class="main">
    <section class="main-section">
        <form class="main-section-form" [formGroup]="formAva">
            <div class="form-header">
                <p class="form-title">
                    {{ this.formCurrent.titulo }}
                </p>
                <hr class="form-divider">
            </div>
            <div class="main-section-form-campo">
                <label>Nome do AVA</label>
                <input type="text" placeholder="Digite o nome do AVA" formControlName="nome">
                <p class="validators"
                    *ngIf="this.formAva.controls['nome'].status === 'INVALID' && formAva.value.nome.length!==0 && formAva.value.nome.length < 4">
                    Mínimo: 4 caracteres.</p>
                <p class="validators"
                    *ngIf="this.formAva.controls['nome'].status === 'INVALID' && formAva.value.nome.length > 15">Máximo:
                    15 caracteres.</p>
            </div>
            <div class="main-section-form-campo">
                <label>URL do AVA</label>
                <input type="text" placeholder="Digite a URL do AVA" formControlName="url">
                <p class="validators"
                    *ngIf="this.formAva.controls['url'].status === 'INVALID' && formAva.value.url.length!==0 && formAva.value.url.length <= 10">
                    Mínimo: 10 caracteres.</p>
            </div>
            <div class="buttons">
                <button routerLink="/" class="button-um"><span>{{ this.formCurrent.text_button_one }}</span></button>
                <button class="button-dois" (click)="this.formCurrent.buttonCadastro(this.idAVa)"
                    [disabled]="buttonDisabled"
                    [ngClass]="{'button-disabled': this.buttonDisabled, 'button-enable': !buttonDisabled}">
                    <img [src]="formCurrent.icone" [alt]="formCurrent.alt" width="20px" height="20px">
                    <span>{{ this.formCurrent.text_button_two }}</span>
                </button>
            </div>
        </form>
    </section>
</main>