@font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjeto.ttf");
}

:host {
  height: 80vh;
  display: block;

  /* Layout para telas de Celulares */
  @media (max-width: 489px) {
    display: flex;
    flex-direction: column;
    height: initial;
    min-height: 90vh;
  }
}

.container {
  background-color: #131313;
}

/* Main */
.container-main-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 86%;
  padding-bottom: 1.25rem;
  border-bottom: 1.5px solid rgba(143, 203, 191, 1);
  padding-bottom: 20px;
  /* margin: 32.5px 0; */
  height: 86%;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    row-gap: 20px;
  }

  /* Layout para telas de Celulares */
  @media (max-width: 489px) {
    width: 100%;
    flex-grow: 1;
  }
}

.div-slide {
  width: 60%;
  height: 100%;

  @media(min-width: 1024px) {
    height: 94%;
  }
}

.container-video {
  height: 100%;

  @media(min-width: 1024px) {
    height: 89%;
  }
}


/* Regras do Titulo Principal do Topico */
.titulo-topico {
  width: 100%;

  ul li {
    list-style: none;
    text-align: center;
    color: var(--border-verde-link);
    padding: 30px 0 0 0;
    font-family: var(--fonte-arial-destaque);
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;

    /* Layout para telas de Celulares */
    @media (max-width: 640px) {
      font-size: 1.2rem;
      text-align: center;
      padding: 30px 0 0 0;
      margin-bottom: 80px;
      font-size: 22.4px;
      margin-bottom: 10px;
    }

    @media (min-width: 1275px) {
      font-size: 2rem;
    }

    @media (min-width: 1600px) {
      font-size: 2.2em;
    }
  }

  hr {
    width: 90%;
    height: 2px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--cor-linha-verde-forte);
    border: none;

    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

/* Aqui fica todos botoes */
.botoes {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: space-between;

  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  background: var(--cor-braco-padrao);
  box-shadow: var(--sombra-leve);
  height: 98%;

  @media (min-width: 1024px) {
    height: 94%;
  }

  max-width: fit-content;
  border-radius: 15px;
  box-shadow: var(--sombra-leve);
  background: var(--cor-braco-padrao);

  /* Layout para telas de Celulares */
  @media (max-width: 489px) {
    /* max-width: none; */
    padding: 1.2rem 1rem;
    width: 90%;
  }

  /* Titulo */
  .title {
    padding-bottom: 0.31rem;
    font-family: var(--fonte-arial-padrao);
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border-bottom: 2px solid var(--cor-linha-forte);
    font-family: var(--fonte-arial-padrao);
    font-style: normal;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--cor-verde-txt);

    /* Tamanho para telas de Celular */
    @media (max-width: 640px) {
      padding-top: 5px;
    }

    /* Tamanho para telas de Computadores */
    @media (min-width: 1025px) and (max-width: 1574px) {
      font-size: 1.2rem;
    }

    /* Tamanho para telas Gigantes */
    @media (min-width: 1575px) {
      font-size: 1.7rem;
    }
  }

  .section-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  /* Distancia entre os botoes */
  .botoes-cima,
  .buttons-final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .botoes-cima {

    /* Espaço necessário para celulares */
    @media (max-width: 640px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    /* Layout para telas de Celulares */
    @media (max-width: 489px) {
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 14px;

      /* Tamanho para os botões de cima */
      .saibaMais,
      .referencias,
      .textoApoio {
        min-width: 35%;
        min-height: 70px;
        display: flex;
        flex-direction: column;
        font-size: 14px;

      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.botao-estilo {
    button {
      font-family: var(--fonte-arial-destaque);
      font-weight: 400 !important;
      font-size: 0.9375rem;
      color: var(--cor-verde-txt);
      background: var(--cor-braco-padrao);
      box-shadow: var(--sombra-forte);
      border-radius: 10px;
      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      /* Distancia entre os Icones do botão e o texto*/
      gap: 0.5rem;
      /* Não remova o position relative */
      position: relative;


      min-width: 200px;
      min-height: 36px;
      margin-left: auto;
      margin-right: auto;

      /* Tamanho para telas Gigantes */
      @media (min-width: 1575px) {
        min-width: 315px;
        min-height: 43px;
        font-size: 22px;
      }

      /*amanho para telas de 1025px a 1574px */
      @media (min-width: 1025px) and (max-width: 1574px) {
        min-width: 220px;
        min-height: 38px;
        font-size: 16px;
      }

      /* Tamanho do botão de baixo */
      @media(max-width: 489px) {
        min-width: 300px;
      }
    }

    .box {
      position: absolute;
      top: 5px;
      right: 5px;
      border: 1.5px solid white;
      border-radius: 50px;
      width: 15px;
      height: 15px;
    }

    .concluido {
      position: absolute;
      top: -5px;
      right: -1px;
      font-size: 27px;
      color: #58DB43;
    }

    /* Botôes do final */
    .buttons-final {
      font-family: Arial;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      box-shadow: none;
      padding-bottom: 1.5rem;


      /* Tamanho para telas de Celulares */
      @media (max-width: 640px) {
        padding-bottom: 0;
      }

      button.atividade-botao {
        white-space: normal;
        background-color: var(--cor-verde-txt);
        color: white;

        &.active {
          background: linear-gradient(0deg, var(--border-verde-link), var(--border-verde-link)),
            linear-gradient(90deg, var(--border-verde-link) 0%, #196D53 100%);
        }

        &.disabled {
          box-shadow: -5.574px 5.574px 5.574px 0px rgba(0, 0, 0, 0.25);
          opacity: 0.5;
          background: var(--2, rgba(47, 115, 94, 1));
        }

        &.active-incorreto {
          background-color: #de3535;
          color: white;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        &.active-correto {
          background-color: #58DB43;
          color: white;
        }
      }

      button.ebook-botao {
        display: flex;
        justify-self: center;
        align-content: center;

        background-color: transparent;
        box-shadow: none;
        border: 2px solid rgba(47, 115, 94, 1) !important;

        a {
          display: inline-flex;
          color: var(--cor-verde-txt);
        }

        /* Alinhando o Icone do ebook no centro */
        @media(max-width: 489px) {
          img {
            margin-left: 22%;
          }
        }
      }
    }
  }

  .box {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1.5px solid white;
    border-radius: 50px;
    width: 15px;
    height: 15px;
  }

  .concluido {
    position: absolute;
    top: -5px;
    right: -1px;
    font-size: 27px;
    color: #58DB43;
  }


}

.container-main-conteudo-link {
  display: flex;
  justify-content: right;
  width: 95%;
  padding-bottom: 1.25rem;
}

.container-main-conteudo-link-left {
  display: flex;
  justify-content: left;
  width: 95%;
  padding-bottom: 1.25rem;
}

.container-main-conteudo-link-ul {
  width: 95%;
  padding: 0 0 0 3.13rem;
}

.container-main-conteudo-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 0.63rem;
  padding-right: 1.25rem;
  padding-bottom: 0.63rem;
  font: normal 400 1rem normal Arial;
  text-decoration: none;
  color: #4f4f4f;
}

.container-main-conteudo-links-voltar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 0.63rem;
  padding-left: 1.25rem;
  padding-bottom: 0.63rem;
  font-family: Arial;
  font-size: 1rem;
  line-height: normal;
  text-decoration: none;
  color: #fff;
}

.linha {
  width: 85%;
  height: 2px;
  margin: 1.25rem auto;
  border: none;
  outline: none;
  opacity: 0.5;
  background-color: white;
}

.voltar-ava .button {
  width: 90%;
  margin: 0 auto;
  padding: 0.63rem 0.94rem;
  border-radius: 8px;
  font-family: Arial;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background: linear-gradient(90deg,
      rgba(92, 51, 153, 0.75) 0%,
      rgba(71, 42, 125, 0.61) 14.78%,
      rgba(57, 36, 107, 0.53) 24.39%,
      rgba(29, 38, 92, 0.45) 57.95%,
      rgba(40, 53, 122, 0.6) 85.46%,
      rgba(51, 68, 153, 0.75) 100%),
    #0f0f0f;
  color: white;
  color: var(--Terciaria, #fff);
  cursor: pointer;
}

@media (max-width: 800px) {
  .botoes {
    margin: 0 auto;
  }

  .div-slide {
    width: 80%;
  }

  .titulo-topico {
    width: 90%;
    margin: 0 auto;
  }
}

.container-main-conteudo-links-voltar {
  display: none;
}

@media(max-width: 489px) {
  .div-slide {
    width: 90%;
    height: 40vh;

    .container-video {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .container-main-conteudo-links-voltar {
    display: initial;
  }
}

@media (max-width: 389px) {

  .saibaMais,
  .referencias,
  .textoApoio {
    width: 5rem;
  }
}

@media (max-width: 350px) {

  .saibaMais,
  .referencias,
  .textoApoio {
    width: 4.69rem;
  }

  .container-main-conteudo {
    row-gap: 1.5rem;
  }

  .link-proximo {
    font-size: 0.81rem;
  }
}

@media (min-width: 490px) and (max-width: 768px) {
  :host {
    display: flex;
    flex-direction: column;
    height: initial;
    min-height: 90vh;
  }



  .container-main-conteudo {
    width: 100%;
    flex-grow: 1;
  }

  /* title */
  .div-slide {
    width: 90%;
    height: 40vh;

    .container-video {
      width: 82%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .titulo-topico ul li {
    margin-bottom: 0.63rem;
    padding: 1.88rem 0 0 0;
    font-size: 1.4rem;
    text-align: center;
  }

  .botoes-cima,
  .botoes-baixo {
    margin: 0.31rem 0;
  }

  .botoes {
    max-width: none;
    padding: 1.2rem 1rem;
  }

  .section-texto {
    flex-direction: row;
    gap: 0;
    margin-bottom: 0.5rem;
  }

  .saibaMais {
    margin: 0 0.2rem;
  }

  .buttons-final {
    align-items: center;

    img {
      margin-left: 1.88rem;
    }
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 385px) and (max-width: 489px) {
  .botoes {
    .botoes-cima {
      gap: 1.06rem;

      .saibaMais,
      .referencias,
      .textoApoio {
        min-width: 39% !important;
        font-size: 0.88rem !important;
      }
    }
  }
}

@media (min-width: 490px) and (max-width: 640px) {
  :host {
    display: flex;
    flex-direction: column;
    height: initial;
    min-height: 90vh;
  }

  .container-main-conteudo {
    width: 100%;
    flex-grow: 1;
  }

  .div-slide {
    width: 90%;
    height: 40vh;

    .container-video {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }



  .botoes {
    width: 90%;
    max-width: none;
    padding: 1.2rem 1rem;

    .botoes-cima {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0.31rem 0;
      gap: 1.5rem;

      .saibaMais,
      .referencias,
      .textoApoio {
        min-width: 35% !important;
        min-height: 4.38rem !important;
        display: flex !important;
        flex-direction: column !important;
        font-size: 0.88rem !important;

        img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .botao-estilo .buttons-final {
    align-items: center;

    button {
      min-width: 18.75rem;
    }

    .ebook-botao img {
      margin-left: 22%;
    }
  }
}