@font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjeto.ttf");
}

:host {
  height: 80vh;
  display: block;
}

.container {
  background-color: #131313;
}

.container-main-conteudo {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1.5px solid rgba(143, 203, 191, 1);
  padding-bottom: 20px;
  height: 86%;
  align-items: center;
}

.container-video {
  height: 100%;

}

.div-slide {
  width: 60%;
  height: 100%;
}

.titulo-topico {
  width: 100%;
}

/* Titulo */
.titulo-topico ul li {
  list-style: none;

  text-align: center;
  color: #2f735e;
  padding: 30px 0 0 0;
  font-family: minhaFonte;
  font-size: 25px;
  margin-bottom: 10px;
}

/* .titulo-topico ul li:before {
  content: "\2022";
  margin: 0 10px;
  color: #9665df;
  list-style: none !important;
} */

.titulo-topico hr {
  width: 87%;
  height: 2px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #26988680;
  border: none;
}

.botoes {
  /* Aqui fica os botoes */
  padding: 30px;
  display: grid;
  align-items: center;
  border-radius: 15px;
  background: var(--cor-braco-padrao);
  box-shadow: var(--sombra-leve);
  height: 98%;
  align-self: flex-start;
  max-width: fit-content;
  /*  max-width: 300px; */

  .title {
    color: var(--cor-verde-txt);
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--cor-linha-forte);
  }

  .section-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .botoes-cima {

    .saibaMais,
    .referencias,
    .textoApoio {
      margin: 1em auto;
    }
  }

  &.botao-estilo button {
    max-width: 210px;
    min-width: 200px;
    min-height: 36px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0.5rem;

    font-family: var(--fonte-arial-destaque);
    font-weight: 400 !important;
    font-size: 0.9375rem;
    color: var(--cor-verde-txt);
    background: var(--cor-braco-padrao);
    box-shadow: var(--sombra-forte);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
  }

  .box {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1.5px solid white;
    border-radius: 50px;
    width: 15px;
    height: 15px;
  }

  .concluido {
    position: absolute;
    top: -5px;
    right: -1px;
    font-size: 27px;
    color: #58DB43;
  }

  .buttons-final {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: none;

    button.atividade-botao {
      margin: 63px 0 17px;
      white-space: normal;
    }

    button.ebook-botao {
      display: flex;
      justify-self: center;
      align-content: center;

      background-color: transparent;
      box-shadow: none;
      border: 2px solid rgba(47, 115, 94, 1) !important;

      a {
        display: inline-flex;
        color: var(--cor-verde-txt);
      }
    }
  }

  .active-incorreto {
    background-color: #de3535 !important;
    color: white !important;
  }

  .active-correto {
    background-color: #58DB43 !important;
    color: white !important;
  }

}

.active {
  background: linear-gradient(0deg, #2F735E, #2F735E),
    linear-gradient(90deg, #2F735E 0%, #196D53 100%);

}

.disabled {
  box-shadow: -5.574px 5.574px 5.574px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  background: var(--2, rgba(47, 115, 94, 1));
}

.active-incorreto {
  background-color: #de3535;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.active-correto {
  background-color: #58DB43;
}

.container-main-conteudo-link {
  width: 95%;
  display: flex;
  justify-content: right;
  padding-bottom: 20px;

}

.container-main-conteudo-link-left {
  width: 95%;
  display: flex;
  justify-content: left;
  padding-bottom: 20px;
}

.container-main-conteudo-link-ul {
  width: 95%;
  padding: 0 0 0 50px;
}

.container-main-conteudo-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  color: #4f4f4f;
  font: normal 400 16px normal Arial;
  column-gap: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.container-main-conteudo-links-voltar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  line-height: normal;
  column-gap: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.linha {
  width: 85%;
  height: 2px;
  border: none;
  outline: none;
  margin: 20px auto;

  background-color: white;
  opacity: 0.5;
}

.voltar-ava .button {
  color: white;
  text-align: center;
  border-radius: 8px;
  background: linear-gradient(90deg,
      rgba(92, 51, 153, 0.75) 0%,
      rgba(71, 42, 125, 0.61) 14.78%,
      rgba(57, 36, 107, 0.53) 24.39%,
      rgba(29, 38, 92, 0.45) 57.95%,
      rgba(40, 53, 122, 0.6) 85.46%,
      rgba(51, 68, 153, 0.75) 100%),
    #0f0f0f;
  width: 90%;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;

  color: var(--Terciaria, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 800px) {
  .container-main-conteudo {
    flex-direction: column;
    row-gap: 20px;
  }

  .botoes {
    margin: 0 auto;
  }

  .div-slide {
    width: 80%;
  }

  .titulo-topico {
    width: 90%;
    margin: 0 auto;
  }
}

.container-main-conteudo-links-voltar {
  display: none;
}

@media(max-width: 489px) {
  :host {
    display: flex;
    flex-direction: column;
    height: initial;
    min-height: 90vh;
  }

  .container-main-conteudo {
    width: 100%;
    flex-grow: 1;
  }

  .div-slide {
    width: 90%;
    height: 40vh;
  }

  .botoes-cima,
  .botoes-baixo {
    margin: 5px 0;
  }

  .botoes {
    max-width: none;
    padding: 1.2rem 1rem;
  }

  .section-texto {
    flex-direction: row;
    gap: 0;
    margin-bottom: .5rem;
  }

  .saibaMais {
    margin: 0 0.2rem;
  }

  .buttons-final {
    align-items: center;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .container-main-conteudo-links-voltar {
    display: initial;
  }

}


@media (max-width: 480px) {

  .section-texto {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 389px) {

  .saibaMais,
  .referencias,
  .textoApoio {
    width: 80px;
  }

  /* .container-main-conteudo-links-voltar{
    margin-top: calc(4% - 5px);
  } */
}

@media(max-width: 350px) {

  .saibaMais,
  .referencias,
  .textoApoio {
    width: 75px;
  }

  .container-main-conteudo {
    row-gap: 1.5rem;
  }

  .link-proximo {
    font-size: 13px;
  }
}