.container {
  background-color: #131313;
}

.voltarUnidade {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: 3.13rem;
  gap: 0.88rem;
  margin: 0 auto;
  padding: 0;
  border: 3.75px solid #FFF;
  border-radius: 25px;
  background-color: transparent;
  color: white;
}

.voltarUnidade span {
  font-size: 1.25rem;
}
