<!--Seção de botões da página inicial HOME-->
<div class="container">
  <section class="button-section">
    <div class="button-group">
      <button *ngIf="getVerificaCompleto() == false" class="start-button" (click)="getVerificaCompleto()" [routerLink]="urlInicio">
        {{this.ltiService.dados_completos.userTopico[0].UsuarioTopicos[0].encerrado == true ? "INICIAR" :"CONTINUAR"}}
      </button>
      <button
       *ngIf="getVerificaCompleto() == true" class="concluido" (click)="getVerificaCompleto()" [routerLink]="urlInicio">
        Módulo Concluído
        <mat-icon>check</mat-icon>
      </button>
      <a class="link" href="{{this.ltiService.dados_completos.modulo.ebookUrlGeral}}" target="_blank">
        <button class="download-button">
          <p>E-book do Módulo</p>
          <img
            src="../../../../assets/download.svg"
            alt="icone de download"
          />
        </button>
      </a>
    </div>
  </section>
</div>
