.container-main-conteudo-links-voltar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
  max-height: 10vh;
  color: var(--cor-branco-padrao);

  @media (max-width: 640px) {
    min-height: 3vh;
    max-height: 3vh;
    color: transparent;
  }
}

.img_voltar {
  cursor: pointer;
}

.button {
  padding: 0.56rem 0.94rem;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-self: end;
  width: fit-content;
  height: 2.5rem;
  margin-right: 3.44rem;
  padding: 0 1.88rem;
  font: normal 400 1rem Arial;
  font-size: 1.13rem;
  column-gap: 0.63rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--cor-verde-txt);
  cursor: pointer;

  @media (max-width: 640px) {
    width: 1.56rem;
    height: 1.56rem;
    margin-top: 0;
    margin-bottom: 0.19rem;
    margin-left: auto;
    margin-right: 1.56rem;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url('../../../assets/icons/voltarUnidade_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;

    img {
      display: none;
    }
  }
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-self: start;
  width: fit-content;
  height: 2.5rem;
  margin-left: 3.44rem;
  padding: 0 1.88rem;
  font: normal 400 1rem Arial;
  font-size: 1.13rem;
  column-gap: 0.63rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--cor-verde-txt);
  cursor: pointer;

  @media (max-width: 640px) {
    width: 1.56rem;
    height: 1.56rem;
    margin-top: 0;
    margin-bottom: 0.19rem;
    margin-left: 1.56rem;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url('../../../assets/icons/voltarUnidade_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;

    img {
      display: none;
    }
  }
}

.container-links {
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.sozinho-proximo {
  justify-self: end;
}

.sozinho-voltar {
  justify-self: start;
}

.opactiy-active {
  opacity: 0.5;
}

.mat-mdc-progress-spinner {
  background-color: #281446;
  --mdc-circular-progress-active-indicator-color: #58db43;
}

.progress-spinner {
  position: absolute;
  top: 43%;
  right: 10%;
  font-size: 1rem;
}

.button-finalizar-box {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-self: end;
  width: fit-content;
  height: 2.5rem;
  margin-right: 3.44rem;
  padding: 0 1.88rem;
  font: normal 400 1rem Arial;
  font-size: 1.13rem;
  column-gap: 0.63rem;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--cor-verde-txt);
  cursor: pointer;
  color: white;

  button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  p {
    margin: 0;
    color: white;
  }

  mat-icon {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 640px) {
    width: 1.56rem;
    height: 1.56rem;
    margin-top: 0;
    margin-bottom: 0.19rem;
    margin-left: auto;
    margin-right: 1.56rem;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url('../../../assets/icons/voltarUnidade_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;

    img {
      display: none;
    }
  }
}

.button-finalizar-desabilitado {
  opacity: 0.5;
  border-radius: 6px;
  background-color: var(--cor-verde-txt);
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-self: end;
  width: fit-content;
  height: 2.5rem;
  margin-right: 3.44rem;
  padding: 0 1.88rem;
  font: normal 400 1rem Arial;
  font-size: 1.13rem;
  column-gap: 0.63rem;
  color: white;

  p {
    margin: 0;
    color: white;
  }

  mat-icon {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-finalizar-nao-avaliado {
  border-radius: 6px;
  background-color: var(--cor-verde-txt);
  box-shadow: 0rem 0rem 0.325rem #AAAAAA;
}

.button-finalizar-avaliado {
  border-radius: 6px;
  border: 1px solid #74cc66;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: #74cc66;
}

@media (max-width: 800px) {
  .header nav {
    width: auto;
  }
}

@media (max-width: 600px) {
  .container-foto-header {
    margin: 0 0 0 1rem;
  }

  #icon {
    margin-right: 1rem;
  }

  .container-main-conteudo-links-voltar {
    height: auto;
  }
}

@media (max-width: 375px) {
  .header .logo {
    padding: 0.63rem 0;
  }
}

@media (max-width: 350px) {
  .link-proximo,
  .link-voltar {
    font-size: 0.75rem;
  }

  .header .logo {
    padding: 0.94rem 0;
  }
}
