.container-main-conteudo-links-voltar {
  display: grid;
  align-items: center;
  color: var(--cor-branco-padrao);
  height: 10vh;
  padding-top: calc(2% - 5px);
  position: relative;
}

.button {
  border-radius: 8px;
  background: linear-gradient(90deg,
      rgba(92, 51, 153, 0.75) 0%,
      rgba(71, 42, 125, 0.61) 14.78%,
      rgba(57, 36, 107, 0.53) 24.39%,
      rgba(29, 38, 92, 0.45) 57.95%,
      rgba(40, 53, 122, 0.6) 85.46%,
      rgba(51, 68, 153, 0.75) 100%),
    #0f0f0f;
  padding: 6px 15px;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  left: 40%;
}

.link-proximo {
  font: normal 400 16px Arial;
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: var(--cor-verde-txt);

  align-items: center;
  margin-right: 55px;

  text-decoration: none;
  column-gap: 10px;
  padding: 0 30px;
  border-radius: 6px;
  /* padding-bottom: 10px; */
  width: fit-content;
  justify-self: end;
  cursor: pointer;
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  line-height: normal;
  column-gap: 10px;
  padding-left: 20px;
  /* padding-bottom: 10px; */
  width: fit-content;
  justify-self: start;
  cursor: pointer;
}

.container-links {
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.sozinho-proximo {
  justify-self: end;
}

.opactiy-active {
  opacity: 0.5;
}


.mat-mdc-progress-spinner {
  background-color: #281446;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #58db43;
}

.progress-spinner {
  position: absolute;
  top: 43%;
  right: 10%;
  font-size: 16px;
}

@media (max-width: 800px) {
  .header nav {
    width: auto;
  }
}

@media (max-width: 600px) {
  .container-foto-header {
    margin: 0 0 0 1rem;
  }

  #icon {
    margin-right: 1rem;
  }

  .container-main-conteudo-links-voltar {
    height: auto;
  }

}

.button-finalizar-box {
  margin-left: 20px;
  display: flex;
  height: 40px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
}

.button-finalizar-box button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-finalizar-desabilitado {
  border-radius: 6px;
  opacity: 0.5;
  background: #793cd4;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.button-finalizar-nao-avaliado {
  border-radius: 6px;
  background: #793cd4;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.button-finalizar-avaliado {
  border-radius: 6px;
  border: 1px solid #74CC66;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: #74CC66;
}


@media(max-width: 375px) {
  .header .logo {
    padding: 10px 0;
  }

  /* .container-main-conteudo-links-voltar{
    padding-top: calc(18% - 5px);
} */
}

@media(max-width: 350px) {

  .link-proximo,
  .link-voltar {
    font-size: 12px;
  }

  .header .logo {
    padding: 15px 0;
  }
}