.container-main-conteudo-links-voltar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--cor-branco-padrao);

  min-height: 10vh;
  max-height: 10vh;
  /*  padding-top: calc(2% - 5px); */
  /* margin-top: 5px; */

  /* Layout para celulares */
  @media (max-width: 640px) {
    color: transparent;
    min-height: 3vh;
    max-height: 3vh;
  }
}



.button {
  border-radius: 8px;
  padding: 9px 15px;
  margin: 0 auto;
  cursor: pointer;
}

.link-proximo {
  font: normal 400 16px Arial;
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: var(--cor-verde-txt);
  align-items: center;
  margin-right: 55px;
  text-decoration: none;
  column-gap: 10px;
  padding: 0 30px;
  border-radius: 6px;
  height: 80%;
  width: fit-content;
  justify-self: end;
  cursor: pointer;
  font-size: 1.125rem;
  height: 40px;

  /* Layout para celulares */
  @media (max-width: 640px) {
    background-color: transparent;
    padding: 0;
    background-image: url('../../../assets/icons/voltarUnidade_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: 25px;
    font-size: 0;
    overflow: hidden;

    img {
      display: none;
    }
  }
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  line-height: normal;
  column-gap: 10px;
  padding-left: 20px;
  width: fit-content;
  justify-self: start;
  cursor: pointer;
}

.container-links {
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.sozinho-proximo {
  justify-self: end;
}

.opactiy-active {
  opacity: 0.5;
}

.mat-mdc-progress-spinner {
  background-color: #281446;
  --mdc-circular-progress-active-indicator-color: #58db43;
}

.progress-spinner {
  position: absolute;
  top: 43%;
  right: 10%;
  font-size: 16px;
}

.button-finalizar-box {
  margin-left: 20px;
  display: flex;
  height: 40px;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;

  button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.button-finalizar-desabilitado {
  border-radius: 6px;
  opacity: 0.5;
  background-color: var(--cor-verde-txt);
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.button-finalizar-nao-avaliado {
  border-radius: 6px;
  background-color: var(--cor-verde-txt);
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.button-finalizar-avaliado {
  border-radius: 6px;
  border: 1px solid #74cc66;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: #74cc66;
}

@media (max-width: 800px) {
  .header nav {
    width: auto;
  }
}

@media (max-width: 600px) {
  .container-foto-header {
    margin: 0 0 0 1rem;
  }

  #icon {
    margin-right: 1rem;
  }

  .container-main-conteudo-links-voltar {
    height: auto;
  }
}

@media (max-width: 375px) {
  .header .logo {
    padding: 10px 0;
  }
}

@media (max-width: 350px) {

  .link-proximo,
  .link-voltar {
    font-size: 12px;
  }

  .header .logo {
    padding: 15px 0;
  }
}