:host {
  padding: 1rem;
  background-color: white;
  display: block;
}

p {
  width: 85%;
  margin: 1.25rem 0;
  font-family: Arial;
  font-size: 1.38rem;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.imgLetras {
  max-height: 8.13rem;
  height: 90%;
}

.alternativas {
  display: flex;
  align-items: center;
  min-height: 5rem;
  margin-bottom: 0.94rem;
  border-radius: 8px;
  background: #4F4F4F;
  background-color: #4F4F4F;
}

.pergunta {
  width: 90%;
  margin-left: 0.63rem;
  font-size: 1.38rem;
  color: white;
}

.atividade-botao {
  display: flex;
  justify-content: flex-end;
}

.atividade-botao button {
  width: 5.69rem;
  height: 2.19rem;
  padding: 0;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #9665DF;
  color: white;
}
