@font-face {
  font-family: minhaFonte;
  src: url("../../../assets/fonteProjeto.ttf");
}

.mat-drawer-container {
  height: 100%;
  background-color: transparent;
}

mat-sidenav {
  height: 90%;
  border-radius: 20px 0;
  background-color: #131313;
}

.btn-ficha {
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.end-navbar {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header img {
  max-height: 5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.menu-teste {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.88rem;
}

.sidebar {
  display: none;
  width: 21.88rem;
  border-radius: 10px;
  transform: translate(-30%, 100%);
  color: #faf8e6;
  transition: transform 20s ease-in-out;
}

.sidebar.open {
  position: fixed;
  z-index: 999;
  display: block;
  transform: translate(0%, 60%);
}

.teste {
  position: relative;
  left: 12.5rem;
}

#icon {
  color: #fff;
}

.text {
  text-align: center;
  color: #faf8e6;
}

.text p {
  font-family: var(--fonte-arial-padrao);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

.text-unidade {
  color: #9665df;
}

.position {
  width: 62%;
  padding: 1.88rem 0;
}

@media (max-width: 425px) {
  .text {
    margin-left: 0;
  }

  .menu-teste {
    left: 60%;
  }
}

@media (max-width: 640px) {
  mat-sidenav {
    width: 100%;
  }
}
