:host {
  height: 100%;
  background-color: #fff;
  display: block;
}

.header-atividade {
  display: grid;
  height: 10vh;
  grid-template-columns: 95% 5%;
  width: 100%;
  justify-content: center;
  background-image: url('../../../assets/fundo_header.png');
  background-size: cover;
  background-position: 58% center;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.header-links p {
  font-size: 30px;
  color: #fff;
}

.teste {
  height: 90vh;
  background-color: white  !important;
}


@media (max-width: 800px) {
  .header-atividade {
    grid-template-columns: 90% 10%;
  }
}

@media(max-width: 389px) {
  .header-atividade {
    grid-template-columns: 85% 15%;
  }
}