@font-face {
  font-family: minhaFonte;
  src: url("../../../assets/fonteProjeto.ttf");
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.container-pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.content-container-condition {
  height: 90vh;
}

.content-container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 0 2.5rem;
}

.voltar-ava {
  height: 10vh;
  color: white;
  text-align: center;
}

.voltar-ava .button {
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  padding: 0.38rem 0.94rem;
  background: linear-gradient(90deg,
      rgba(92, 51, 153, 0.75) 0%,
      rgba(71, 42, 125, 0.61) 14.78%,
      rgba(57, 36, 107, 0.53) 24.39%,
      rgba(29, 38, 92, 0.45) 57.95%,
      rgba(40, 53, 122, 0.6) 85.46%,
      rgba(51, 68, 153, 0.75) 100%),
    #0f0f0f;
  cursor: pointer;
}

mat-sidenav {
  width: 20rem;
  height: 100vh;
  background-color: transparent;
}

.imagem-acima {
  align-self: center;
  margin-bottom: -2.5rem;
}

section.content-container-ficha-tecnica {
  height: 100%;
}

app-video-section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.links {
  display: flex;
  gap: 3.63rem;
}

.btn-ficha,
.btn-home,
.btn-sobre {
  display: inline-block;
  font-family: var(--fonte-arial-destaque);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff86;
  cursor: pointer;
}

.active-topico-container {
  border-bottom: 3px solid #FFFFFF;
}

.btn-ficha:hover,
.btn-home:hover,
.btn-sobre:hover {
  border-bottom: 3px solid #FFFFFF;
  width: fit-content;
  padding-bottom: 0.19rem;
}

.active-topico-container {
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  color: white;
  padding-bottom: 0.19rem;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.end-navbar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 2.19rem;
}

.mat-drawer-container {
  height: 100%;
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0.31rem 0;
  background-image: url("../../../assets/fundo_header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-fixed {
  position: fixed;
  margin-bottom: 2.5rem;
  background-image: url("../../../assets/fundo_header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header img {
  max-height: 5rem;
  margin-left: 2.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
}

#icon {
  width: 1.9rem;
  height: 2.6rem;
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;
}

.container-foto-header {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  padding: 0.13rem;
  border-radius: 20px;
  background: #ffffff;
}

.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: 1.5px solid rgba(0, 102, 50, 1);
  border-radius: 28px;
  color: black;
  background-color: white;
}

.content-container-section {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  color: aliceblue;
}

.container-esquerdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #faf8e6;

  @media (max-width: 640px) {
    width: 100%;

  }
}

.container-direito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: calc(40vh - 15.47vw - 2px);

  @media (max-width: 640px) {
    padding-top: 0;
  }
}

.container-esquerdo h1 {
  font-family: "minhaFonte";
  font-size: 2.25rem;
  text-align: center;
  padding: 1.25rem;
  color: var(--border-verde-link);
}

.text-unidade {
  font-family: var(--fonte-arial-destaque);
  font-size: 2.25rem;
  color: var(--cor-verde-txt);

  @media (max-width: 640px) {
    font-size: 1.4375rem !important;
  }

}

.position {
  width: 80%;
  max-width: 42.5rem;
  margin: 2.5rem 0 2.81rem 0;
}

.container-download-app {
  position: fixed;
  top: 13%;
  right: 0;
  padding-right: 1rem;
  justify-content: end;
}

@media (max-width: 1100px) {
  .content-container {
    grid-template-columns: 55% 45%;
    padding: 1.25rem;
  }

  .button-section img {
    top: 10%;
    left: 66%;
    height: 18.75rem;
  }

  .content-container-ficha-tecnica-inicio .images {
    display: none;
  }

  .content-container-ficha-tecnica-inicio {
    flex-direction: column;
  }

  .container-esquerdo h1 {
    font-size: 1.88rem;
  }
}

@media (max-width: 899px) {
  .content-container {
    grid-template-columns: 1fr;
    padding: 1.25rem;
  }

  .content-container-section {
    grid-template-columns: 1fr;
  }

  .container-esquerdo h1 {
    font-size: 1.5rem;
    padding: 0.63rem;
  }

  .imagem-acima {
    display: none;
  }

  .links {
    display: none;
  }

  .header nav {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .content-container {
    grid-template-columns: 1fr;
  }

  .header img {
    height: 4.38rem;
  }

  .container-esquerdo {
    row-gap: 2rem;
  }

  .container-esquerdo h1 {
    font-size: 1.25rem;
    padding: 0.63rem;
  }

  .text-unidade {
    font-size: 1.5rem;
  }

  .imagem-acima {
    display: none;
  }
}

@media (max-width: 640px) {
  mat-sidenav {
    width: 100%;
  }
}