.container {
  background-color: var(--cor-branco-suave);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 40px;
}

.container-conteudo {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  color: #fff;
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 40px;
}

.container-cima h1 {
  color: #ffffff;
  font-family: Arial;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-cima p {
  margin: 40px 0;
}

.container-conteudo .bloco {
  margin: 40px 0;
}

.bloco p {
  color: #AAA;
}

h2 {
  margin-top: 40px;
}

.laboratorios .bloco p {
  margin: 10px 0;
}

hr {
  height: 2px;
  background-color: #FFFFFF26;
  border: none;
  outline: none;
}


@media (max-width: 489px) {
  .container-cima h1 {
    margin-top: 1.5rem;
  }
}