<div class="container">
  <div class="container-conteudo">
    <div class="container-cima">
      <h1>Ficha Técnica</h1>
      <hr style="background-color: #03422F" />
      <div class="bloco">
        <h2>Nome do Módulo:</h2>
        <p>{{ this.ltiService.dados_completos.modulo.nome_modulo }}</p>
      </div>
      <hr />
<!--       <div class="bloco">
        <h2>Versão do Módulo:</h2>
        <p>1.0.0</p>
      </div>
      <hr /> -->
      <div class="bloco">
        <h2>Versão do Módulo:</h2>
        <p>xx.yy.zz</p>
      </div>
      <hr />
      <div class="bloco">
        <h2>Coordenação Geral:</h2>
        <p>Prof. Dr. João da Mata Libório Filho</p>
      </div>
      <hr />
    </div>
    <div class="equipe">
      <h2>Equipe de Produção Educacional:</h2>

      <div class="bloco">
        <h3>Instrutor(a):</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="bloco">
        <h3>Designer Instrucional:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="bloco">
        <h3>Designer Gráfico:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="bloco">
        <h3>VideoMaker:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="bloco">
        <h3>Social Media:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <hr />
    </div>
    <div class="equipe">
      <h2>Equipe de Desenvolvimento:</h2>

      <div class="bloco">
        <h3>Designer UX/UI:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="bloco">
        <h3>Desenvolvedor Frontend:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="bloco">
        <h3>Desenvolvedor Frontend:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="bloco">
        <h3>Desenvolvedor Full Stack:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="bloco">
        <h3>Analista de Teste:</h3>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <hr />
    </div>
    <div class="laboratorios">
      <div class="bloco">
        <h2>Laboratorios envolvidos:</h2>
        <p>Laboratorio de Design</p>
        <p>Laboratorio de Midia</p>
      </div>
      <hr />
      <div class="bloco">
        <h2>Lançamento:</h2>
        <p>Itacoatiara - AM, dezembro de 2024</p>
      </div>
      <hr />

<!--       <div class="bloco">
        <h2>Lançamento:</h2>
        <p>Itacoatiara, dezembro de 2024</p>
        <hr />
      </div> -->
      <div class="bloco">
        <h2>Financiamento:</h2>
        <h3>
          Este projeto foi realizado com recursos oriundos dos seguintes
          editais:
        </h3>
        <p>
          Edital 073/2023-GR/UEA - Programa de Apoio ao Desenvolvimento da
          Extensão Universitária (PADEX)
        </p>
        <p>
          Edital 024/2023-GR/UEA - Programa de Apoio à Iniciação Científica
          (PAIC/FAPEAM)
        </p>
        <p>
          Edital 053/2024-GR/UEA - Programa de Tutoria em Laboratórios de
          Pesquisa e Ensino da UEA (PROTLAB/UEA)
        </p>
      </div>
      <hr />
      <div class="bloco">
        <h3>
          Universidade do Estado do Amazonas(UEA), Centro de Estudos Superiores
          de Itacoatiara(CESIT).
        </h3>
        <p>
          Av. Mário Andreazza, 2960 - Jardim Florestal - 69100-000 - Itacoatiara
          - AM
        </p>
      </div>
      <hr />
      <div class="bloco">
        <h2>Licença:</h2>
        <h3>Este módulo está licenciado sobre:</h3>
        <p>Creative Commons 4.0</p>
        <img class="img_licenca"
          src="../../../../assets/icons/ficha-tecnica-icon.svg"
          alt="licença"
        />
      </div>
    </div>
  </div>
</div>
<app-footer-ficha></app-footer-ficha>
