<div class="question-box">
  <h2>{{ pergunta }}</h2>

  <form [formGroup]="form" (ngSubmit)="enviarResposta()">
    <textarea formControlName="resposta" rows="6" placeholder="Digite sua resposta..." [readonly]="form.disabled"
      [ngStyle]="form.disabled ? { color: 'white' } : {}"></textarea>

    <button type="submit" *ngIf="!form.disabled" [disabled]="form.invalid || loading">
      <img src="assets/icons/escrever.svg" alt="" width="20px" height="20px">
      <span>{{ loading ? "Enviando..." : "Enviar Resposta" }}</span>
    </button>
  </form>

  <!-- Resultado da IA -->
  <div *ngIf="nota !== null" [ngClass]="status" class="resultado">
    <p><strong>Nota:</strong> {{ nota | number : "1.1-2" }}</p>
    <p><strong>Nota Máxima:</strong> {{ teto | number : "1.1-2" }}</p>
    <p><strong>Justificativa:</strong> {{ justificativa }}</p>
  </div>
</div>