:host {
  height: 100%;
  background-color: var(--cor-branco-padrao) !important;
  display: block;
}

.header-atividade {
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.31rem;
  background-image: url("../../../../../assets/fundo_header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.63rem;

  p {
    font-size: 1.5rem;
    color: white;
  }
}

.container-atividade {
  width: 80%;
  margin: 0 auto;
  max-height: fit-content;
  font-size: 1.38rem;

  h3 {
    margin-top: 1.25rem;
    font-family: var(--fonte-arial-padrao);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--cor-verde-escuro-forte);
  }

  .alternativas {
    display: grid;
    grid-template-columns: minmax(5rem, 6.25rem) 1fr;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 0;
    font-family: var(--fonte-arial-padrao);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-verde-escuro-forte);
    cursor: pointer;
  }
}

.active-alternativa {
  border: 4px solid rgba(46, 120, 95, 1);
  border-radius: 15px;
}

.respostaCerta {
  width: 80%;
  margin-top: 0.63rem;
  padding: 0.63rem;
  color: #b3b3b3;
}

.container-alternativa {
  padding: 1.25rem 0;
}

.butoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.refazer {
  width: 6.25rem;
  height: 2.19rem;
  padding: 0;
  border: 1px solid #3e3c3c;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: var(--cor-verde-escuro-forte);
}

.btn-submit {
  width: 6.25rem;
  height: 2.19rem;
  margin: 0 auto;
  padding: 0;
  font-size: 1.13rem;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(90deg, var(--border-verde-link) 0%, #196D53 100%);
  color: var(--cor-branco-padrao);
}

.respostaCorreta {
  border: 2px solid rgba(68, 168, 52, 1);
  background-color: white !important;
  color: var(--cor-verde-escuro-forte);
}

.respostaErrada {
  border: 2px solid red;
  background-color: white !important;
  color: var(--cor-verde-escuro-forte);
}

.container {
  display: flex;
  align-items: center;
  width: 64.5rem;
  min-height: 5.63rem;
  gap: 1.25rem;
  margin: 0 auto;
  padding-right: 1.25rem;
  border-radius: 8px;
  background-color: #6d0707;
  color: white;
}

.container-textos {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.56rem 0;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  box-shadow: var(--sombra-fraca);
  background-color: white;
}

.texto-cima {
  display: flex;
  gap: 0.63rem;

  p {
    width: 95%;
    padding-left: 1.25rem;
  }
}

.texto-baixo {
  width: 95%;
  margin-left: 1.25rem;
  padding: 0.63rem 1.25rem;
  border-radius: 2px;
  background-color: #333;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  line-height: 150%;
  border-radius: 8px 0 0 8px;
  background: linear-gradient(90deg, rgba(32, 99, 119, 1), rgba(36, 126, 110, 1), rgb(36, 131, 110), rgb(39, 163, 109));
  color: var(--cor-branco-padrao);
}

.img {
  width: 2.5rem;
  height: 2.5rem;
}

.img-correta,
.img-errada {
  justify-self: center;
  align-self: center;
}

.container-prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
  background-color: transparent;
}

@media (max-width: 800px) {
  .header-atividade {
    grid-template-columns: 90% 10%;
  }
}

@media (max-width: 489px) {
  .container-atividade {
    width: 90%;
  }

  .texto-cima {
    padding: 0 0.31rem;
  }

  .texto-baixo {
    width: 90%;
  }
}

@media (max-width: 389px) {
  .header-atividade {
    grid-template-columns: 85% 15%;
  }

  .container-atividade h3 {
    font-size: .9rem;
  }

  .texto-cima,
  .texto-baixo {
    font-size: 1rem;
  }

  .respostaCorreta {
    margin-right: 1.5rem;
  }

  .btn-submit {
    margin-bottom: 0.63rem;
  }
}
