.barraProgresso {
  width: 90%;
  margin: 0 auto;
}

p {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  padding: 0.94rem;
  margin: 0.63rem 0 0 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

ul li:hover {
  background-color: #6C36BC;
}

ul li a {
  margin: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
