@import url('./assets/styles/_variaveis.css');

/* You can add global styles to this file, and also import other style files */* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body {
  height: 100vh;
  background-color: #000000;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.center-2 {
  margin: 0 auto;
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0;
}

.mat-mdc-progress-bar.mat-warn {
  --mdc-linear-progress-active-indicator-color: #44ba31;
  --mdc-linear-progress-track-color: #818181;
}

.testando {
  --mat-snack-bar-button-color: #c3a1f5;
}

.mat-mdc-snack-bar-container .mdc-snackbar__action {
  border-radius: 5px;
  --mdc-snackbar-container-color: #2e2e2e;
  color: #793cd4 !important;
}

.mat-mdc-dialog__title {
  margin-top: 0.63rem;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #2e2e2e;
  padding: 0.63rem;
  --mdc-dialog-container-shape: 8px !important;
  --mdc-dialog-container-elevation: -4px 4px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

.mat-mdc-dialog-actions,
.mdc-dialog__title {
  justify-content: center !important;
  margin-bottom: 0.63rem !important;
  color: white !important;
}


:root {
  --chat--window--bottom: 10%;
  --chat--toggle--background: #793cd4 !important;
  --chat--toggle--hover--background: #793cd4 !important;
  --chat--toggle--active--background: #793cd4 !important;
  --chat--header--background: #5e17eb !important;
  --chat--message--user--background: #5e17eb !important;
  --chat--window--right: 2%;

}

.n8n-chat-button,
.chat-window-wrapper {
  margin-bottom: 3% !important;
}

.chat-window {
  max-height: 70vh !important;
  height: 31.25rem !important;
}

@media(max-width: 496px) {

  .n8n-chat-button,
  .chat-window-wrapper {
    margin-bottom: 0% !important;

  }

  .chat-window {
    height: 70vh !important;
    /* min-height:  calc(100% - var(--chat--window--bottom, var(--chat--spacing)) * 300) !important; */
    max-height: calc(100% - var(--chat--window--bottom, var(--chat--spacing)) * 2) !important;
  }

}