@font-face {
    font-family: 'ArialRoundedBold';
    src: url('../fonts/Arial-Rounded-MT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


:root {
    --cor--teste: yellow;

    --cor-branco-padrao: white;
    --cor-branco-suave: rgb(249, 249, 249);


    --cor-preto-padrao: black;
    --cor-preto-suave: #3A3A3A;

    --cor-verde-template-txt: #B1FFFF;
    --cor-verde-template-bg: #0C4A49;
    --cor-verde-navegacao: #2C7760;
    --cor-verde-txt: #2f735e;
    --cor-verde-escuro: #0c4a49;
    --cor-verde-escuro-forte: #03422f;
    --cor-cinza-padrao: #676767;
    /* 

    */

    --cor-linha: #8FCBBF;
    --cor-linha-forte: #269886;

    --cor-linha-cinza: #a2a2a2;
    --cor-linha-verde-forte: #26988680;

    --border-verde-link: #2F735E;
    --border-verde-video: #26AA86;

    --sombra-muit-forte: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    --sombra-forte: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
    --sombra-leve: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --sombra-fraca: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    --fonte-arial-padrao: arial, sans-serif;
    --fonte-arial-destaque: 'ArialRoundedBold', sans-serif;
    --fonte-inter-padrao: 'Inter', sans-serif;

}

app-atividade {
    background-color: white !important;
    min-height: max-content;
}